[Desktop Entry]
Name=Mossball
GenericName=Patch generator
Comment=RPG Maker 2000/2003 patch generator
Exec=mossball %U
Icon=com.github.lumiscosity.Mossball
Terminal=false
Type=Application
StartupNotify=true
Categories=Development;Utility;
Keywords=changelog;patch;
